@import "../../shared/template.scss";

.new-course-form-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  margin: 5px;
}
.new-course-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.new-course-form-control {
  margin: 5px;
}
