<p>
  Login page
</p>
<div>
  <div class="form-group">
    <div [hidden]="nameLogin.valid&&pass.valid" class="alert alert-danger">
      Неправильный логин или пароль
    </div>
    <div [class]="messageClass">
        {{message}}
      </div>
  </div>
  <div class="form-group">
    <label for="#nameLogin">Логин </label>
    <input class="form-control" name="nameLogin" [(ngModel)]="user.login" #nameLogin="ngModel" required
      pattern="[a-zA-Z]{1,10}" />
    <div [hidden]="nameLogin.untouched||nameLogin.valid" class="alert alert-danger alert__nullString">
      * введите
    </div>
  </div>
  <div class="form-group">
    <label for="#pass">Пароль </label>
    <input class="form-control" name="pass" [(ngModel)]="user.password" #pass="ngModel" required
      pattern="[a-zA-Z0-9]{1,10}" />
    <div [hidden]="pass.untouched||pass.valid" class="alert alert-danger alert__nullString">
      * введите
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="nameLogin.invalid || pass.invalid" class="button buttonLoginSubmit"
      (click)="checkUserByLoginAndPassword()">Войти</button>
  </div>
</div>
