.control-button {
  margin: 10px;
  padding: 3px;
}

.border-danger {
  border: solid red 2px;
}

.border-permit {
  border: solid green 2px;
}

.alert-danger {
  color: red;
}

.alert-permit {
  color: green;
}
