<div class="header__navbar">
  <nav>
    <a class="header__navbar_item" routerLink="/courses" routerLinkActive="active"
      >
      Курсы
    </a>
    <!-- <a class="header__navbar_item" href="">
    <app-add-course></app-add-course>
  </a>
  <a class="header__navbar_item" href="">
    <app-edit-course></app-edit-course>
  </a> -->
    <a class="header__navbar_item" routerLink="/login" routerLinkActive="active"
      >
      Логин
    </a>
  </nav>
  <router-outlet></router-outlet>
</div>

<div class="footer"></div>
