@import "../../shared/template.scss";
@import "../../shared/flex.center.mixin.scss";

.login-form {
  @include flex-content-direction(center, column);

  .login-form-group {
    @include flex-content-direction(center, row);
    padding: 5px;
    margin: 5px;

    .login-form-control {
      margin: 5px;
    }
  }
}
