<div class="authors-container"> 
  <div
    cdkDropList
    #allList="cdkDropList"
    [cdkDropListData]="authorsOutputList"
    [cdkDropListConnectedTo]="[confirmList]"
    class="authors-list"
    (cdkDropListDropped)="drop($event)">
    <div class="authors-box" *ngFor="let item of authorsOutputList" cdkDrag>{{item.name}}</div>
  </div>
</div>

<div class="authors-container">
  <div
    cdkDropList
    #confirmList="cdkDropList"
    [cdkDropListData]="authorsConfirmList"
    [cdkDropListConnectedTo]="[allList]"
    class="authors-list"
    (cdkDropListDropped)="drop($event)">
    <div class="authors-box" *ngFor="let item of authorsConfirmList" cdkDrag>{{item?.name}}</div>
  </div>
</div>
