<p>
  Courses catalog
</p>

<div class="content-courses__list" method="GET">
  <div class="courses__options">
    <div class="courses__search">
      <input
        type="text"
        class="input--search"
        placeholder="фрагмент названия"
        (keydown.enter)="
          searchCourses($event.target.value); searchInput.value = ''
        "
        id="searchInput"
        #searchInput
      />
      <button
        class="button--search"
        (click)="searchCourses(searchInput.value); searchInput.value = ''"
      >
        найти
      </button>
    </div>
    <div class="course__add">
      <button
        class="button--add-course"
        [routerLink]="['/courses', 'new']"
        routerLinkActive="active"
      >
        Добавить курс
      </button>
    </div>
  </div>
  <div
    class="courses__list"
    *ngFor="let course of (coursesState$ | async).courses"
  >
    <div class="course__item">
      <div class="item__header">
        <div class="item__header--main">
          <div class="item__list">
            Видеокурс {{ course?.id }}
          </div>
          <div class="item__list">{{ course?.name }}</div>
          <div class="item__list">
            {{ course?.duration | duration }}
          </div>
        </div>
        <div class="item__header--date">
          {{ course?.date | date: "dd.MM.yyyy":"ru-RU" }}
        </div>
      </div>
      <div clas="course__item">
        {{ course?.description }}
      </div>
    </div>
    <div class="course__options">
      <button
        class="button--edit-course"
        (click)="findCourseById(course.name)"
        [routerLink]="['/courses', course?.name]"
        routerLinkActive="active"
      >
        Редактировать
      </button>
      <button class="button--delete-course" (click)="removeCourse(course.id)">
        Удалить
      </button>
    </div>
  </div>
</div>
<div class="messageClass">
  {{ message }}
</div>
