<p>
  Courses catalog
</p>

<div class="content__list__courses" method="GET">
  <div class="options__courses">
    <div class="search__courses">
      <input
        type="text"
        class="search__input"
        placeholder="фрагмент названия"
        (keydown.enter)="
          searchCourses($event.target.value); searchInput.value = ''
        "
        id="searchInput"
        #searchInput
      />
      <button
        class="button__search"
        (click)="searchCourses(searchInput.value); searchInput.value = ''"
      >
        найти
      </button>
    </div>
    <div class="add__course">
      <button
        class="button__add__course"
        [routerLink]="['/courses', 'new']"
        routerLinkActive="active"
      >
        Добавить курс
      </button>
    </div>
  </div>
  <div
    class="list__courses"
    *ngFor="let course of (coursesState$|async).courses"
  >
    <div class="course__item__description">
      <div class="course__item__description__header">
        <div class="course__item__description__header__main">
          <div class="list__course__item__description">
            Видеокурс {{ course?.id }}
          </div>
          <div class="list__course__item__description">{{ course?.name }}</div>
          <div class="list__course__item__description">
            {{ course?.duration | duration }}
          </div>
        </div>
        <div class="course__item__description__header__date">
          {{ course?.date | date: "dd.MM.yyyy":"ru-RU" }}
        </div>
      </div>
      <div clas="course__item__description">
        {{ course?.description }}
      </div>
    </div>
    <div class="course__item__options">
      <button
        class="button__edit__course"
        (click)="findCourseById(course.name)"
        [routerLink]="['/courses', course?.name]"
        routerLinkActive="active"
      >
        Редактировать
      </button>
      <button class="button__delete__course" (click)="removeCourse(course.id)">
        Удалить
      </button>
    </div>
  </div>
</div>
<div class="messageClass">
  {{ message }}
</div>
