$border: 1px solid navy;
@import "../../shared/flex.center.mixin.scss";

.content-courses__list {
  @include flex-content-direction(space-around, column);
  border: $border;
}
.content-courses__list {
  .courses__options {
    @include flex-content-direction(space-between, row);
    border: $border;
    margin: 5px;
    padding: 10px;
  }
  .courses__search {
    @include flex-content-direction(baseline, row);
    padding: 5px;
  }
  .course__add {
    padding: 5px;
  }
  input,
  button {
    margin: 5px;
    padding: 3px;
  }
  .courses__list {
    @include flex-content-direction(space-between, row);
    padding: 10px;
    margin: 10px;
    border: $border;

    .course__item {
      @include flex-content-direction(space-between, column);
      align-items: stretch;
      padding: 5px;
      margin: 5px;
      width: 100%;

      .item__header {
        @include flex-content-direction(space-between, row);
        align-items: flex-start;
        padding: 5px;
        width: 100%;
        font-size: x-large;
      }
      .item__header--main {
        @include flex-content-direction(space-around, row);
        align-items: flex-start;
        padding: 5px;
      }
      .item__list {
        margin-right: 20px;
        justify-self: stretch;
      }
      .item__header--date {
        justify-self: flex-end;
      }
    }
    .course__options {
      @include flex-content-direction(flex-start, column);
      align-items: stretch;
      padding: 5px;
      margin: 5px;
    }
  }
}
