<p>
  New Course
</p>
<div class="content__form__new__course" *ngIf="isValidate" method="POST">
  <div class="form-group">
    <div [class]="messageClass">
      {{ message }}
    </div>
  </div>
  <div class="form-group">
    <label for="nameCourse">Название </label>
    <input
      class="form-control"
      name="nameCourse"
      [(ngModel)]="courseInput.name"
      #nameCourse="ngModel"
      required
      pattern="[a-zA-ZА-Яа-я0-9]{1,10}"
    />
    <div
      [hidden]="nameCourse.untouched || nameCourse.valid"
      class="alert alert-danger alert__nullString"
    >
      * введите
    </div>
  </div>
  <div class="form-group">
    <label for="description">Описание </label>
    <textarea
      class="form-control"
      name="description"
      [(ngModel)]="courseInput.description"
      #description="ngModel"
      required
      pattern="[a-zA-ZА-Яа-я0-9,.]{1,20}"
    >
    </textarea>
    <div
      [hidden]="description.untouched || description.valid"
      class="alert alert-danger alert__nullString"
    >
      * введите
    </div>
  </div>
  <div class="form-group">
    <label for="date">Дата </label>
    <input
      class="form-control"
      name="date"
      type="date"
      value='##.##.####'
      data-mask='##.##.####'
      maxlength="10"
      [(ngModel)]="courseInput.date"
      #date="ngModel"
      required
      pattern="(\d\d).(\d\d).(\d\d\d\d)"
      (keypress)="checkFormatDate(date.value)"
    />
    <div
      [hidden]="date.untouched || date.valid"
      class="alert alert-danger alert__nullString"
    >
      * введите
    </div>
  </div>
  <div class="form-group">
    <label for="duration">Продолжительность </label>
    <input
      class="form-control"
      name="duration"
      [(ngModel)]="courseInput.duration"
      #duration="ngModel"
      required
      pattern="[0-9]{1,4}"
    />
    <div class="course__item__duration">
      {{ courseInput?.duration | duration }}
    </div>
    <div
      [hidden]="duration.untouched || duration.valid"
      class="alert alert-danger alert__nullString"
    >
      * введите
    </div>
  </div>
  <div class="form-group">
    <label for="authors">Список авторов </label>
    <input
      class="form-control"
      name="authors"
      [(ngModel)]="courseInput.authors"
      #authors="ngModel"
      required
      pattern="[a-zA-ZА-Яа-я0-9]{1,10}"
    />

    <!-- <select size="7" class="form-control" multiple name="authors" *ngFor="let author of authors">
        <option value="Чебурашка">Чебурашка</option>
       </select> -->
    <div
      [hidden]="authors.untouched || authors.valid"
      class="alert alert-danger alert__nullString"
    >
      * введите
    </div>
  </div>
  <div class="form-group">
    <button
      [disabled]="
        nameCourse.invalid ||
        description.invalid ||
        date.invalid ||
        duration.invalid ||
        authors.invalid
      "
      class="button buttonSubmit"
      (click)="addNewCourse()"
    >
      Сохранить
    </button>

    <button class="button buttonCancel" (click)="cancelAddNewCourse()">
      Отмена
    </button>
  </div>
</div>
