input.ng-touched.ng-invalid,textarea.ng-touched.ng-valid {
    border: solid red 2px;
  }
  
  input.ng-touched.ng-valid,textarea.ng-touched.ng-valid {
    border: solid green 2px;
  }
  
  .alert-danger {
    color: red;
  }
  .alert-permit {
    color: green;
  }
  
  .form-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    margin: 5px;
  }
  .content__form__new__course {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .form-control {
    margin: 5px;
  }

  .button{
    margin: 10px;
  }