<p>
  Signup page
</p>
<div class="signup-form">
  <div class="signup-form-group">
    <div [hidden]="nameLogin.valid && pass.valid" class="alert alert-danger">
      Логин и пароль должны содержать цифры и буквы, 1 символ в верхнем регистре
    </div>
  </div>
  <div class="signup-form-group">
    <label for="#nameLogin">Логин </label>
    <input
      class="signup-form-control"
      name="nameLogin"
      [(ngModel)]="userInput.login"
      #nameLogin="ngModel"
      required
      pattern="[a-zA-Z\d]{1,12}"
    />
    <div
      [hidden]="nameLogin.untouched || nameLogin.valid"
      class="alert alert-danger alert__nullString"
    >
      * введите
    </div>
  </div>
  <div class="signup-form-group">
    <label for="#pass">Пароль </label>
    <input
      class="signup-form-control"
      name="pass"
      [(ngModel)]="userInput.password"
      #pass="ngModel"
      required
      pattern="(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,12}"
    />
    <div
      [hidden]="pass.untouched || pass.valid"
      class="alert alert-danger alert__nullString"
    >
      * введите
    </div>
  </div>
  <div class="signup-form-group">
    <button
      [disabled]="nameLogin.invalid || pass.invalid"
      class="button button--submit"
      (click)="addNewUser()"
    >
      Зарегистрироваться
    </button>
  </div>

  <div [class]="messageClass">
    {{ message }}
  </div>
</div>
